@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-snack-bar-container {
    background-color: #4caf50; 
    color: white;
    font-size: 16px;
    text-align: center;
  }
  

.sidebar {
  @apply bg-[#E49F13] h-full p-4; 
}
